.course-card {
  width: 50%;
  font-size: 10px;
}
.title-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tag-item {
  background-color: #b6bac0;
  margin-right: 5px;
  padding-bottom: 10px;
  text-align: center;
  height: 20px;
  border-radius: 5px;
}
